{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Report{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for document in documents %}
    {% if g.user['id'] == document['author_id'] %}
    <article class="document">
      <header>
        <div>
          <h1>{{ document['title'] }} - {{ '{:.1%}'.format(document['percent_match']) }}</h1>
        </div>
      </header>
      <p class="body">{{ document['body'] }}</p>
    </article>
      <hr>
      {% for match in matches %}
        {% if document['id'] == match.document_id %}
          <p class="body">{{ match.matching_text }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <p>
    <a class="action" href="{{ url_for('dropbox.index') }}">Return Home</a>
  </p>
{% endblock %}
